body {
  background-color: #fffcf6;
}

nav {
  -webkit-box-shadow: 5px 5px 40px -15px rgba(0, 0, 0, 0.65);
          box-shadow: 5px 5px 40px -15px rgba(0, 0, 0, 0.65);
  border-bottom: 2px solid #FF7F11;
}

.nav-item {
  margin-right: .3rem;
}

.nav-link {
  color: #222222 !important;
}

.nav-item {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  font-family: 'Lato', sans-serif;
}

.nav-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.active .nav-link {
  border: 2px solid #FF7F11;
  border-radius: 10px;
  font-weight: 600;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.head {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 2.5rem;
  font-style: italic;
  color: black;
}

.prohead {
  font-weight: 600;
  font-size: 1.4rem;
  color: #fd7905;
  text-transform: uppercase;
  font-weight: 700;
}

.content {
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
  color: black;
}

.counthead {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

.card {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.num {
  text-align: center;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.plus {
  margin-left: -0.5rem;
  margin-top: -0.2rem;
  padding: 0;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}

.card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.counter {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.feedback {
  padding: 1.4rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

.testimonials.row {
  margin-top: 5rem;
  padding: 2rem;
}

.col-md-4 {
  margin: 5rem auto;
}

.quote {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  color: #FF7F11;
}

.profile {
  padding: 70px 10px 10px;
  background-color: #0000001c;
  border: 1px solid #FF7F11;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.profile:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
}

.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10px solid #fffcf6;
}

.profile h3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.abt {
  font-size: 1.3rem;
  padding: 1rem;
  padding-bottom: 0;
}

.icon {
  width: 32px;
}

.icon2 {
  width: 70px;
}

.count {
  text-align: center;
  padding: .3rem 5rem;
}

.container-fluid {
  background-color: #fffcf6 !important;
  border-top: 2px solid #FF7F11 !important;
}

.pos {
  display: block;
  font-size: 1.2rem;
  padding: .3rem;
  color: #FF7F11;
}

@media only screen and (max-width: 500px) {
  .navbar-brand {
    font-size: 1.2rem !important;
  }
  .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  .abtimg {
    width: 90% !important;
  }
  .plus {
    padding: 0;
    margin-left: 0rem !important;
    margin-top: -1.3rem !important;
    font-size: 2.5rem !important;
  }
  .nav-link {
    padding: 1rem !important;
  }
  .nav-item {
    margin: auto;
  }
  .prdtlink {
    margin: 1rem 5rem !important;
  }
  .but {
    padding: 0rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .navbar-brand {
    font-size: 0.9rem !important;
  }
  .img {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 1.2em;
    margin-left: 5em !important;
    border-radius: 100%;
  }
  .logo {
    margin-left: 6.5em;
    width: 100px;
    height: 100px;
    padding: 1rem;
  }
  .container-fluid {
    text-align: center;
  }
  .prdtlink {
    margin: 1rem 3rem !important;
  }
}

.but {
  border-radius: 30px;
  padding: 15px;
  background-color: #FF7F11;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: black;
  border-style: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.but:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img {
  width: 50%;
  margin-left: 10em;
  border-radius: 100%;
}

i {
  margin-right: .5rem;
  color: #FF7F11;
}

.c1 {
  border-radius: 40px;
  border: 2px solid #FF7F11;
  margin: 1rem;
  padding: 1rem;
}

.prdtlink {
  text-align: center;
  margin: 1rem 20rem;
  padding: 2rem;
  background-color: #0000001c;
  border-radius: 1em;
}

.button {
  border: 2px solid #FF7F11;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  padding: .7rem;
  border-radius: 2rem;
  -webkit-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
  -webkit-transition: .2s all;
  transition: .2s all;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a {
  color: black;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */